<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voicecoin Activation</title>
</head>
<body>
    <div style='width: 600px; margin: 0 auto; border:1px solid #000;width:600px;margin:auto;background: #fff; font-family: Microsoft YaHei,sans-serif;'>
        <div style='background-color: #0065ae;text-align: center; height: 80px; padding-top: 25px'>
            <img class="home-menu-logo" src="@Model.Host/logo.png" alt="#">
        </div>
        <div style='padding-top: 30px'>
            <h2 style='text-align: center'>Welcome to voicecoin and thanks for signing up</h2>
            <div style='font-size: 12px;color: #626262;text-align: center;padding-top: 20px; margin-bottom: 20px'>Please, confirm your email address to activate your voicecoin Account.</div>
            <div style='text-align:center;padding-top: 20px; margin-bottom: 40px'>
                <a href='@Model.Host/activation/@Model.ActivationCode' style='text-decoration:none;color: #0065ae;font-size: 19px;font-weight: bold;border: 2px solid #0065ae; border-radius: 30px;display: inline-block;padding: 10px 60px;'>ACTIVATE</a>
            </div>
            <div style='background: #eaeaea;text-align:center;font-size: 12px;line-height: 20px;padding: 10px 0px;color: #626262;'>
                Support: <a href="mailto:support@voicecoin.com">support@voicecoin.com</a><br />
                Copyright © 2018 Voiceweb Foundation, All rights reserved.<br />
            </div>
        </div>
    </div>

</body>
</html>